<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>voczilla.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
				<key>dateExpires</key>
				<string>05/03/2025</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RecaptchaInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>100.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_facebook_auth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD44500E5C34D4A774373B050EFEBEF91E834BA2</string>
						<key>dateExpires</key>
						<string>05/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58A9XC46QY</string>
						<key>name</key>
						<string>Geoffrey PETAIN</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>58A9XC46QY.com.geoffreypetain.voczilla.voczilla</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>58A9XC46QY</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5c3a6225-25fc-4557-962f-b0bafc6db278</string>
				<key>dateExpires</key>
				<string>05/03/2025</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.geoffreypetain.voczilla.voczilla</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>58A9XC46QY</string>
				<key>name</key>
				<string>Geoffrey PETAIN</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
