<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
            android:label="voczilla"
            android:name="${applicationName}"
            android:icon="@mipmap/ic_launcher"
            android:backupAgent="android.app.backup.FullBackupAgent"
            android:allowBackup="true"
            android:enableOnBackInvokedCallback="true"
            android:fullBackupContent="@xml/backup_rules">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1439580806237607~9445579592"/>

        <!-- Branch keys -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_erznZrLrj173MZo9hLyDZfaiyDlKCDW1" />
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_dFDjYEUuh378V7aZkOyBYgncvDpKCBWM" />
        <!-- Set to true to use test key in debug builds -->
        <meta-data android:name="io.branch.sdk.TestMode" android:value="false" />

        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:launchMode="singleTask"
                android:taskAffinity=""
                android:theme="@style/LaunchTheme"
                android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
                android:hardwareAccelerated="true"
                android:windowSoftInputMode="adjustResize">

            <meta-data
                    android:name="io.flutter.embedding.android.NormalTheme"
                    android:resource="@style/NormalTheme"/>

            <!-- Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Branch URI Scheme -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="voczilla" android:host="open" />
            </intent-filter>

            <!-- Branch App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="voczilla.app.link" />
                <data android:scheme="https" android:host="voczilla-alternate.app.link" />
            </intent-filter>
        </activity>

        <!-- Flutter + Facebook SDK meta-data -->
        <meta-data android:name="flutterEmbedding" android:value="2" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>
    </application>

    <!-- Package visibility queries -->
    <queries>
        <package android:name="com.google.android.gms" />

        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
